{% extends 'base.html.twig' %}

{% block title %} Team Farrugia : Histoire {% endblock %}

{% block body %}

<div class="container mb-4">

<h1 class="text-center my-4">Histoire</h1>


<div class="histoire">
{#    <p class="text-danger">Né en mars 1944 à Tunis, Antoine a 4 ans lorsqu'il est réveillé au beau milieu de la nuit par une clameur s'élevant des rues. « La foule célébrait la victoire de Marcel Cerdan, sacré champion du monde aux Etats-Unis. Les jours suivants, j'ai harcelé mon père pour qu'il m'emmène dans une salle de boxe. Et là, j'ai découvert un nouveau monde. Ces images de ring, de sacs avec tous ces gars qui frappent dedans ne m'ont plus quitté. <br><br>
    Quelques années plus tard, la famille Farrugia s'installe à Arras, dans le Pas-de-Calais, région férue du noble art. Antoine y signe sa première licence, mais ne dispute son premier combat « qu'à 16 ans, à Pantin (Seine-Saint-Denis) ». Après une honnête carrière amateur et près de 80 combats, il raccroche les gants. Sa soif de devenir entraîneur le mène dans les plus grandes salles parisiennes.<br><br>
    Mettre le palmarès ..
    </p> #}
    <p>
        C'est l'histoire d'Antoine Farrugia, un jeune garçon de 4 ans qui est née en mars 1944 à Tunis.
    
        Un jour, Antoine lors se reveilla et constat dans la rue un rassemblement de gens célébrant la victoire de quelque chose. Cette victoire était cela de Marcel Cerdan, qui fut sacré champion du monde de boxe. Cet engoument, lui donna envi de se consacré entièrement au monde de la boxe. <br><br>
    
        Quelques années plus tard, à 16 ans, Antoine débuta en tant que boxeur dans la région Parisienne, à Pantin. Il enchaina avec pas moins de 80 modeste combats. Il decida ensuite de racrocher les gants pour se consacrer entièrement à une nouvelle carrière, cel d'entraineur. Celle-ci lui permettera de décrocher à un nombre de titre impressionant dans le monde entier. <br><br>
    
        <span class="text-danger">
            Ayant entrainer de grand champion tel que Marvin Petit, Chistopher Legendre, Hadillah Mohoumadi. Ce dernier a été 4 fois champion de France des super-moyens. 
            
            <br><br>
        </span>

        Antoine nous quitta malheuresement après une belle carrière d'entraineur des suite d'un cancer à l'age de 70 ans. Son fils, Tanguy Farrugia repris donc le flambeau de cet équipe pleine d'avenir.
    </p>
    
    <div class="histoire-avatar">
        <img src="/image/AFarrugia.png">
        <span>
            <p>"Tu peux être le meilleur entraîneur du monde, mais tu n’es rien si tu n’as pas les boxeurs qui te font connaître."</p>
            <p>Je les remercie.</p>
            <p>Antoine FARRUGIA.</p>
        </span>
    </div>
    
</div>

<div class="histoire_image">

    <img src="/image/père/afarrugia1.jpeg" class="">
    <img src="/image/père/afarrugia2.png" class="" >
    <img src="/image/père/afarrugia3.jpeg" class="">
    <img src="/image/père/afarrugia4.jpeg" class="">
    <img src="/image/père/afarrugia5.jpeg" class="">
    
</div>
    {#
    {% for data in image %}
        <img src="/image/{{ data }}" class="" style="width: 100px; height: 100px; border: 2px solid">
    {% endfor %}
    #}



</div>

{% endblock %}
