{% extends 'base.html.twig' %}

{% block title %} Team Farrugia : Histoire {% endblock %}

{% block body %}

<div class="container mb-4">

<h1 class="text-center my-4">Histoire</h1>


<div class="histoire">
    <p class="text-danger">Né en mars 1944 à Tunis, Antoine a 4 ans lorsqu'il est réveillé au beau milieu de la nuit par une clameur s'élevant des rues. « La foule célébrait la victoire de Marcel Cerdan, sacré champion du monde aux Etats-Unis. Les jours suivants, j'ai harcelé mon père pour qu'il m'emmène dans une salle de boxe. Et là, j'ai découvert un nouveau monde. Ces images de ring, de sacs avec tous ces gars qui frappent dedans ne m'ont plus quitté. <br><br>
    Quelques années plus tard, la famille Farrugia s'installe à Arras, dans le Pas-de-Calais, région férue du noble art. Antoine y signe sa première licence, mais ne dispute son premier combat « qu'à 16 ans, à Pantin (Seine-Saint-Denis) ». Après une honnête carrière amateur et près de 80 combats, il raccroche les gants. Sa soif de devenir entraîneur le mène dans les plus grandes salles parisiennes.<br><br>
    Mettre le palmarès ..
    </p>
    
    <div class="histoire-avatar">
        <img src="/image/AFarrugia.png">
        <span>
            <p>"Tu peux être le meilleur entraîneur du monde, mais tu n’es rien si tu n’as pas les boxeurs qui te font connaître."</p>
            <p>Je les remercie.</p>
            <p>Antoine FARRUGIA.</p>
        </span>
    </div>
    
</div>

<div class="histoire_image">

    <img src="/image/père/afarrugia1.jpeg" class="">
    <img src="/image/père/afarrugia2.png" class="" >
    <img src="/image/père/afarrugia3.jpeg" class="">
    <img src="/image/père/afarrugia4.jpeg" class="">
    <img src="/image/père/afarrugia5.jpeg" class="">
    
</div>
    {#
    {% for data in image %}
        <img src="/image/{{ data }}" class="" style="width: 100px; height: 100px; border: 2px solid">
    {% endfor %}
    #}



</div>

{% endblock %}
