{% extends 'base.html.twig' %}

{% block title %} Team Farrugia : Histoire {% endblock %}

{% block body %}

<div class="container mb-4">

<h1 class="text-center my-4">Histoire</h1>


<div class="histoire">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat earum, veritatis natus officiis temporibus exercitationem fugit quae, accusantium deserunt, molestias dolorem tempore maiores non dolore unde ratione voluptatibus perferendis asperiores!</p>

    <div class="histoire-image">
        <img src="/image/AFarrugia.png">
        <span>
            <p>"Tu peux être le meilleur entraîneur du monde, mais tu n’es rien si tu n’as pas les boxeurs qui te font connaître."</p>
            <p>Je les remercie.</p>
            <p>Antoine FARRUGIA.</p>
        </span>
    </div>

    
</div>

<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eligendi perferendis accusantium dolorum sint, similique quis quisquam quaerat ea magnam corporis, illum necessitatibus odit pariatur fugit dolorem distinctio adipisci autem!
Animi ipsam quos itaque qui fuga at quia labore cupiditate, inventore, cumque recusandae culpa distinctio odit quae fugiat perspiciatis dolor nobis maiores accusamus nisi provident beatae doloribus nulla! Maxime, fugiat?
Labore rerum officia similique, possimus nostrum fugiat rem impedit laudantium tenetur, temporibus officiis, sunt harum eligendi dignissimos assumenda amet voluptatem voluptates repellendus. Eveniet, molestias omnis! Sequi consequatur ab odit debitis.
Repudiandae ex ut, unde quo est voluptate rem quae placeat aliquid et. Vero minima reprehenderit quae, quibusdam ducimus voluptatibus provident assumenda nemo minus, nostrum, cupiditate ab. Ad laboriosam hic at!</span>

</div>

{% endblock %}
