{% extends 'base.html.twig' %}

{% block title %}Team Farrugia : Accueil{% endblock %}

{% block body %}

<div class="container">
    <h1 class="accueil-titre">BIENVENUE A LA TEAM FARRUGIA</h1>

    <div class="interview">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AH3ST9KoCZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
    
{% endblock %}

