{% extends 'base.html.twig' %}

{% block title %}Team Farrugia : Informations{% endblock %}

{% block body %}

<div class="container my-4">

    <h1 class="text-center mt-4">INFORMATIONS</h1>

    <h2 class="my-4">Horaires d'ouvertures</h2>

    <div class="row horaires">
        <div class="col-md-3">
            Educative : <br>
            <p>
                Lundi : 18h - 19h
            </p> 
        </div>

    <div class="col-md-3">
        <p>
            Lundi : 19h30 - 21h30 <br>
            Mercredi : 19h30 - 21h30<br>
            Vendredi : 19h30 - 21h30
        </p>
    </div>

    <div class="col-md-3">
        12ans/15ans :<br>
        <p>
            Mardi : 18h - 19h30<br>
            Vendredi : 18h - 19h30
        </p>
    </div>

    <div class="col-md-3">
        Amateur Pro : <br>
        <p>
            Lundi au Vendredi : 19h30 - 21h30
        </p>
    </div>

    </div>

    <h2 class="my-4">Tarif</h2>

    <div class="tarif">
        Educative : 150 € <br>
        Côme : 250 € <br>
        12ans/15ans : 200 € <br>
        Amateur Pro :  €
    </div>

    <h2 class="my-4">Site</h2>

    <span>Adresse : Palais des Sports Elancourt, Rue de la Beauce, 78990 Élancourt</span>

    <div class="googlemap text-center m-4">
        <img src="" alt="google map" style="border: solid; width: 900px; height: 500px;">
    </div>


</div>

{% endblock %}
