{% extends 'base.html.twig' %}

{% block title %}Hello VitrineController!{% endblock %}

{% block body %}

<div class="container mt-4">

    <h1 class="text-center mb-4">NOS CHAMPIONS</h1>

    <div class="champion">

        <div class="row hutten my-4">
            <div class="col-md-6">
                <img src="/image/alexandra.jpg" alt="" style="width: 200px;">
            </div>

            <div class="col-md-6">
                <h3>Alexandra Hutten - Czapski</h3>
                <p>Challenger au titre nationale Pro 2020</p>
                <p>Championne de France Amateur</p>
                <p>Vice Championne d'Europe Amateur</p>
            </div>


        </div>

        <div class="row tollet mb-4">
            <div class="col-md-6">
                <img src="/image/tollet.jpg" alt="marine">
            </div>
            <div class="col-md-6">
                <h3>Marine Tollet</h3>
                <p>Vice Championne 2018</p>
                <p>Challenger au titre 2020</p>
            </div>
        </div>

        <div class="row marvin mb-4">
            <div class="col-md-6">
                <img src="/image/marvin.png" alt="marvin">
            </div>

            <div class="col-md-6">
                <h3>Marvin Petit le Gitan</h3>

                <p>3 fois Champion de France</p>
                <p>2 fois Champion d'Europe</p>
                <p>Champion WBA International</p>
                <p>Vice Champion d'Europe</p>
                <p>Classé 10e WBA</p>
                <p>2e Européen</p>
            </div>
            
            
        </div>

    </div>
</div>
{% endblock %}
