{% extends "base.html.twig" %}

{% block title %}Team Farrugia : Mentions Légales{% endblock %}

{% block body %}

<h1 class="text-center mt-4">Mentions Légales</h1>

<div class="container mt-4">
    
    <p>Le présent site est la propriété de <a href="https://www.mds-dev.fr" target="_blank">MDS DEV</a>.</p>

        <p>
        Le Site : <a href="https://www.teamfarrugia.fr">https://www.teamfarrugia.fr</a> <br>
        Directeur de la publication : Tanguy Farrugia <br>
        Email : @  <br> <br> </p>

    <p>
        <b>Adresse : </b> <br>
        Palais des Sports, rue de la Beauce <br>
        78990 - Elancourt <br>
        Tél. :  <br>

        Raison sociale : 
        N° SIRET :  
    </p>

<p>
        <b>Hébergement : </b> <br>
        OVH, Hostinger
        2 rue Kellermann - 59100 Roubaix - France
        SAS au capital de 10 069 020 €
        RCS Lille Métropole 424 761 419 00045
        Code APE 2620Z
        N° TVA : FR 22 424 761 419
    </p>

    <b>Règles :</b>
    <p>
        L'utilisateur reconnaît avoir pris connaissance de la présente notice légale et s'engage à la
        respecter.
    </p>

{#
    <p>
        En conformité avec les dispositions de la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
        libertés, le traitement automatisé des données nominatives réalisées à partir du site Internet "www.teamfarrugia.fr"
        a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (CNIL).
    </p> #}
    
    
    <p>

        Les marques de l'exploitant du site Internet, ses partenaires, ses sponsors et ainsi que les logos et images figurant sur le site sont des propriétés déposées.
    </p>

    <p>
        Toute copie totale ou partielle de ce site par n'importe quel procédé que ce soit, et ceci sans l'autorisation de l'exploitant du site Internet est interdite et serait passible d'une sanction par les
        article L 335-2 et du Code de la propriété intellectuelle.
    </p>

    <p>

        Il en est de même des éventuelles bases de données figurant sur le site Internet qui sont protégées par les
        dispositions de la loi du 11 juillet 1998 portant transposition dans le Code de la propriété intellectuelle
        (CPI) de la directive européenne du 11 mars 1996 relative à la protection juridique des bases de données.
    </p>

        
    
</div>

{% endblock %}