* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.corps {
    min-height: 69.2vh;
}

/* DEBUT NAVBAR */

nav {
    height: 80px;
    border-bottom: 5px solid red;
}

nav img {
    width: 50px;
    position: absolute;
    top: 17px;
    left: 50px;
    border-radius: 40%;
    z-index: 100;
}

.titrelogo {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 115px;
    color: white;
    line-height: 15px;
    font-size: 17px;
}
.titrelogo span{
    font-size: 10px;
}

nav ul {
    float: right;
    margin-right: 25px
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 15px;
    padding: 5px 0;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: red;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn, label #cancel {
    color: white;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* SOUS MENU */

.deco{
    display: none;
}

nav ul li ul{ 
    display:none; 
}

nav ul li:hover ul{
    z-index:99999;
    display: list-item !important;
    position: absolute;
    margin-left: -50px;
    transition: 5s all step-end;
    background-color: rgb(39, 35, 35);
}

nav ul li:hover ul li {
    float: none;
    }

/* RESPONSIVE NAVBAR */

@media (max-width: 1118px) {}

@media (max-width: 944px) {
    nav ul li {
        margin: 0 15px;
    }
    nav ul li a {
        font-size: 12px;
    }
}

@media (max-width: 860px) {
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(39, 35, 35);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 100;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 15px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked~ul {
        left: 0;
    }
    #check:checked~label #btn {
        display: none;
    }
    #check:checked~label #cancel {
        display: block;
    }
    .deco{
        display: block;
    }
}

/* FIN NAVBAR */

/* ACCUEIL */

.accueil-titre {
    text-align: center;
    margin: 50px 0;
}

.interview {
    text-align: center;
}

.card{
    margin-top: 50px;
}

/* FIN ACCUEIL */

/* HISTOIRE */

.histoire {
    display: flex;
    margin: 10px;
}

.histoire p {
    min-width: 300px;
}

.histoire-avatar {
    font-size: 13px;
    margin-bottom: 20px;
}

.histoire-avatar img {
    width: 400px;
    margin-bottom: 15px;
}

.histoire-avatar span {
    width: 300px;
    text-align: end;
}

.histoire_image img{
    width: 100px; 
    height: 100px; 
    border: 3px solid;
}

.histoire_image img:hover{
    transform: translateY(-420px);
    position: absolute;
    /* left: 5%; */
    transition: all ease 1.5s;
    width: 500px;
    height: 500px;
    border: 5px solid red;
    border-radius: 2%;
}

/* Responsive */

@media all and (max-width: 800px) {
    .histoire {
        display: inline;
        text-align: center;
    }
    .histoire span p {
        text-align: center;
    }
    .histoire-avatar {
        margin-bottom: 100px;
    }
    .histoire_image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .histoire_image img{
        margin: 10px 0;
    }
    .histoire_image img:hover{
        transform: translateY(0);
        width: 70%;
        height: 70%;
        position: unset;
    }
    
}

/* FIN HISTOIRE */

/* EFFECTIF */





/* MEDIA */

.champion p{
    line-height: 10px;
}

/* FIN MEDIA */






/* INFORMATIONS */
.horaires div{
    font-weight: bold;
}

.horaires div p{
    font-size: 13px;
    font-weight: 100;
}


/* FIN INFORMATIONS */





/* FOOTER */

footer {
    min-height: 100px;
    color: white;
    width: 100%;
    text-align: center;
    border-top: 4px solid red;
    margin-top: 50px;
}

footer .partenaire {
    min-height: 100px;
    font-size: 12px;
    padding: 15px 15px 0 15px;
}

.copy {
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
}

.mention{
    font-size: 13px;
    text-align: center;
    padding-left: 10px;
    line-height: 23px;
}
.mention a{
    text-decoration: none;
    color: white;
}
.mention a:hover{
    color: red;
}
.propos{
    text-align: center;
    padding-left: 10px;
}

/* RESPONSIVE */
@media (max-width: 944px) {
    .propos{
        text-align: center;
        padding-left: 0;
    }
    .mention{
        padding-bottom: 25px;
        text-align: center;
        padding-left: 0;
    }
    .copy{
        text-align: center;
        padding-left: 0;
    }
}

/***** Réseaux *******/

.reseaux{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    height: 55px;
}

.icon-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 30%;
    margin: 0;
    z-index: 50;
}

a:focus {
    outline: none;
}

.btnrs {
    min-width: 35px;
    margin: 10px;
    border-radius: 30%;
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0);
    background-color: white;
    height: 30px;
    padding-top: 4px;
    color: black;
}

.btnrs:hover {
    color: #f8f8ff;
    transition: 0.7s;
    cursor: pointer;
}

.icon {
    font-size: 20px;
}

.facebook:hover {
    background-color: #1977f3;
}

.instagram:hover {
    background: linear-gradient(-135deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.twitter:hover {
    background-color: #2bc4ff;
}

.youtube:hover {
    background-color: #fe0000;
}

/***** Fin Réseaux *******/